@media (max-height: 84pt) {
  body {
    padding: 0px 12px;
    font-size: 9pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  .center {
    font-size: 8pt;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    .clock {
      font-size: 10pt;
    }
  }
  .todo,
  .pomodoro-timer,
  .information {
    display: none;
  }
}
