@import "../modules/mixins";
@import "../modules/variables";

.cripto-tracker {
  @include flex(24px, row, center, center);
  @include cardComponent($br-g, $background-color, $border-color);
  padding: 24px;
  top: 0;
  right: 0;
  margin: 24px;
  position: fixed;
  z-index: 5;
  .img {
    @include flex(0, row, center, center);
    @include squareSize(72px);
    background: $border-color;
    border-radius: 50%;
  }
  .info {
    @include flex(6px, column, start, center);

    .title {
      font-size: 18pt;
    }
    .price {
      font-size: 14pt;
    }
  }
}
