@import "../modules/mixins";
@import "../modules/variables";
.cripto-tracker {
  @include flex(24px, row, center, center);
  top: 0;
  right: 0;
  margin: 24px;
  position: fixed;
  padding: 24px;
  border-radius: $br-g;
  backdrop-filter: blur(12px);

  background: $background-color;
  border: 2px solid $border-color;
  .img {
    @include flex(0, row, center, center);

    @include squareSize(72px);
    border-radius: 100%;
    background: $border-color;
  }
  .info {
    .title {
      font-size: 24pt;
    }
  }
}
