@import "variables";

@mixin flex($gap, $direction, $align, $justify) {
  gap: $gap;
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin staticSize($width, $height) {
  min-width: $width;
  min-height: $height;
  max-width: $width;
  max-height: $height;
}
@mixin squareSize($size) {
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
}
@mixin cardComponent($bd, $bg-color, $bd-color) {
  background: $bg-color;
  border-radius: $bd;
  backdrop-filter: blur($br-g);
  border: 2px solid $bd-color;
}
