$br-g: 12px;
$br-m: 6px;

$text-color: white;

$cubicBezier: cubic-bezier(0.165, 0.84, 0.44, 1);

$background-color: rgba(0, 0, 0, 0.4);
$accent-color: rgba(0, 0, 0, 0.4);
$border-color: rgba(255, 255, 255, 0.2);
