$br-g: 12px;
$br-m: 6px;

$text-color: rgb(255, 237, 157);

$cubicBezier: cubic-bezier(0.165, 0.84, 0.44, 1);

$background-color: rgba(255, 94, 0, 0.4);
$accent-color: rgba(255, 187, 0, 0.4);
$border-color: rgba(255, 255, 255, 0.4);
