@import "../modules/mixins";
@import "../modules/variables";
.pomodoro-timer {
  @include flex(6px, column, start, start);

  .label {
    @include flex(6px, row, center, start);
    width: 100%;
    font-size: 14pt;
    cursor: pointer;
    padding: 6px 12px;
    transition: 0.125s ease-in-out;
    border: 2px solid transparent;
    border-radius: $br-g;
    &:hover {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }
  .timer {
    @include flex(0, column, center, space-between);
    height: 160px;
    overflow: hidden;
    line-height: 32pt;
    border-radius: $br-g;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.hidden {
      opacity: 0;
      height: 0px;
    }
    .remaining {
      @include flex(0, row, center, center);
      height: 100%;
      font-size: 32pt;
      padding: 24px 48px;
    }
    .controls {
      @include flex(12px, row, center, center);
      width: 100%;
      padding: 6px;
      background: rgba(0, 0, 0, 0.4);
      border-top: 2px solid rgba(255, 255, 255, 0.2);
      button {
        @include flex(0, row, center, center);
        cursor: pointer;
        font-size: 14pt;
        padding: 6px 9px;
        border-radius: $br-m;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.2);
        &:hover {
          border: 2px solid rgba(255, 255, 255, 0.1);
          // opacity: 0.5;
        }
        i {
          pointer-events: none;
          &.hidden {
            display: none;
          }
        }
      }
    }
  }
}
