@import "../modules/mixins";
@import "../modules/variables";

.todo {
  @include flex(9px, column, start, center);
  .label {
    @include flex(6px, row, center, start);
    width: 100%;
    font-size: 14pt;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: 0.125s $cubicBezier;
    &:hover {
      border-color: $border-color;
      background: $background-color;
    }
  }
  .todo-list-wrapper {
    box-shadow: 12px 6px 24px rgba(0, 0, 0, 0.8);

    @include size(320px, 530px);
    @include cardComponent($br-g, $background-color, $border-color);
    overflow: hidden;
    transition: 0.5s $cubicBezier;
    &.hidden {
      opacity: 0;
      height: 0px;
    }
    .add {
      top: 0;
      z-index: 5;
      width: 100%;
      padding: 12px;
      background: $accent-color;
      border-bottom: 2px solid $border-color;
      .wrapper {
        display: flex;
        border-radius: 12px;
        border: 2px solid $border-color;
        input {
          width: 100%;
          font-size: 14pt;
          padding: 6px 12px;
          background: transparent;
        }
        button {
          cursor: pointer;
          font-size: 24pt;
          padding: 0px 12px;
          font-weight: 100;
          background: transparent;
        }
      }
    }
    .todo-list {
      @include flex(0, column, start, start);
      @include size(100%, 100%);
      overflow: auto;
      line-height: 32pt;
      padding-bottom: 160px;
      .todo-item {
        @include flex(6px, row, start, start);
        font-size: 14pt;
        padding: 0px 12px;
        p.did {
          opacity: 0.5;
          text-decoration: line-through;
        }
        input[type="checkbox"] {
          @include flex(0, row, center, center);
          @include staticSize(24px, 24px);
          appearance: none;
          margin: 9px 0px;
          border-radius: 9px;
          border: 2px solid $border-color;
          &:checked {
            &::after {
              content: "✔️";
            }
            opacity: 0.5;
          }
        }
      }
    }
  }
}
