@import "../modules/reset";
@import "../modules/mixins";
.mood-background {
  @include size(100%, 100%);
  @include flex(0, row, end, center);
  // // background: red;
  z-index: -1;
  position: fixed;
  .land,
  .land-2 {
    @include size(1280px, 440px);
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.75);
    border-radius: 75%;
    transform: translateY(330px) scale(1.6);
  }
  .land {
    z-index: 1;
    background: greenyellow;
  }
  .land-2 {
    background: green;
  }
}
