@import "../modules/reset";
@import "../modules/mixins";

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mood-background {
  @include size(100%, 100%);
  @include flex(0, row, end, center);
  z-index: -1;
  position: fixed;
  .landscape {
    @include size(100%, 100%);

    background-image: url("../../assets/images/landscape.png");
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 0px 12px rgb(255, 236, 66));
  }
  .cycle {
    position: fixed;
    animation: rotate 30s infinite linear;
    inset: 0;
    gap: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .sun {
    border-radius: 50%;
    @include squareSize(200px);
    background: rgb(255, 255, 0);
    box-shadow: 0px 0px 100px 720px rgb(255, 255, 167);
  }
  .moon {
    border-radius: 50%;
    @include squareSize(200px);
    background: rgb(0, 200, 255);
    box-shadow: 0px 0px 100px 0px rgb(7, 0, 11);
  }
}
