@import "../modules/variables";

.information {
  box-shadow: -12px -6px 24px rgba(0, 0, 0, 0.8);

  gap: 24px;
  width: 100%;
  // opacity: 0.5;
  padding: 12px 24px;
  justify-content: end;
  backdrop-filter: blur(12px);
  border-top: 2px solid $border-color;
  background: $background-color;
  position: fixed;
  display: flex;
  bottom: 0;
}
