@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  color: white;
  font-family: "JetBrains Mono";
}

body {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.notes {
  gap: 6px;
  display: flex;
  flex-direction: column;
}
.notes .label {
  font-size: 14pt;
  padding: 0px 12px;
}
.notes .notepad {
  width: 320px;
  height: 500px;
  padding: 12px;
  overflow: scroll;
  line-height: 20pt;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.25);
}
.notes .notepad .did {
  text-decoration: line-through;
}
.notes .notepad .add {
  bottom: 0;
  width: 100%;
  display: flex;
  position: sticky;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.25);
}
.notes .notepad .add input {
  width: 100%;
  padding: 0px 6px;
  background: transparent;
}
.notes .notepad .add button {
  cursor: pointer;
  font-size: 18pt;
  padding: 0px 6px;
  font-weight: 100;
  background: transparent;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.date,
.clock,
.phrase {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  filter: drop-shadow(0px 0px 6px lightblue);
  background: linear-gradient(135deg, white, lightblue);
}

.date {
  text-transform: capitalize;
}

.clock {
  font-size: 48pt;
}

@keyframes swithPhrase {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.phrase {
  cursor: pointer;
}
.phrase.animate {
  animation-fill-mode: forwards;
  animation: swithPhrase 0.5s ease-in-out alternate;
}

@media (max-height: 84pt) {
  body {
    padding: 12px;
    font-size: 9pt;
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 2fr 2fr;
  }
  .date {
    justify-self: flex-start;
  }
  .clock {
    font-size: 12pt;
  }
  .phrase {
    justify-self: flex-end;
  }
}