@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: rgb(255, 237, 157);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
}
*::-moz-placeholder {
  color: rgb(255, 237, 157);
}
*::placeholder {
  color: rgb(255, 237, 157);
}

html,
body {
  width: 100%;
  height: 100%;
}

.disabled {
  display: none !important;
}

@keyframes swithPhrase {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body {
  display: grid;
  overflow: hidden;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: inset 0px 0px 84px 48px rgba(0, 0, 0, 0.8);
  background: linear-gradient(135deg, rgb(26, 39, 43), rgb(1, 21, 32));
  @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
}
body .todo {
  gap: 9px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
body .todo .label {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  width: 100%;
  font-size: 14pt;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: 0.125s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body .todo .label:hover {
  border-color: rgba(255, 255, 255, 0.4);
  background: rgba(255, 94, 0, 0.4);
}
body .todo .todo-list-wrapper {
  z-index: 5;
  box-shadow: 12px 6px 24px rgba(0, 0, 0, 0.8);
  width: 320px;
  height: 530px;
  background: rgba(255, 94, 0, 0.4);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body .todo .todo-list-wrapper.hidden {
  opacity: 0;
  height: 0px;
}
body .todo .todo-list-wrapper .add {
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 12px;
  background: rgba(255, 187, 0, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
body .todo .todo-list-wrapper .add .wrapper {
  display: flex;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}
body .todo .todo-list-wrapper .add .wrapper input {
  width: 100%;
  font-size: 14pt;
  padding: 6px 12px;
  background: transparent;
}
body .todo .todo-list-wrapper .add .wrapper button {
  cursor: pointer;
  font-size: 24pt;
  padding: 0px 12px;
  font-weight: 100;
  background: transparent;
}
body .todo .todo-list-wrapper .todo-list {
  gap: 0;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  line-height: 32pt;
  padding-bottom: 80px;
}
body .todo .todo-list-wrapper .todo-list .todo-item {
  gap: 6px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  font-size: 14pt;
  padding: 0px 12px;
}
body .todo .todo-list-wrapper .todo-list .todo-item p.did {
  opacity: 0.5;
  text-decoration: line-through;
}
body .todo .todo-list-wrapper .todo-list .todo-item input[type=checkbox] {
  gap: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 9px 0px;
  border-radius: 9px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}
body .todo .todo-list-wrapper .todo-list .todo-item input[type=checkbox]:checked {
  opacity: 0.5;
}
body .todo .todo-list-wrapper .todo-list .todo-item input[type=checkbox]:checked::after {
  content: "✔️";
}
body .pomodoro-timer {
  gap: 6px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
body .pomodoro-timer .label {
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  width: 100%;
  font-size: 14pt;
  cursor: pointer;
  padding: 6px 12px;
  transition: 0.125s ease-in-out;
  border: 2px solid transparent;
  border-radius: 12px;
}
body .pomodoro-timer .label:hover {
  background: rgba(255, 94, 0, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
}
body .pomodoro-timer .timer {
  box-shadow: 12px 6px 24px rgba(0, 0, 0, 0.8);
  gap: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(255, 94, 0, 0.4);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  height: 160px;
  overflow: hidden;
  line-height: 32pt;
  backdrop-filter: blur(12px);
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body .pomodoro-timer .timer.hidden {
  opacity: 0;
  height: 0px;
}
body .pomodoro-timer .timer .remaining {
  gap: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  font-size: 32pt;
  padding: 24px 48px;
}
body .pomodoro-timer .timer .controls {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 6px;
  background: rgba(255, 187, 0, 0.4);
  border-top: 2px solid rgba(255, 255, 255, 0.4);
}
body .pomodoro-timer .timer .controls button {
  gap: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: rgba(255, 94, 0, 0.4);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  font-size: 14pt;
  padding: 6px 9px;
}
body .pomodoro-timer .timer .controls button:hover {
  opacity: 0.75;
}
body .pomodoro-timer .timer .controls button i {
  pointer-events: none;
}
body .pomodoro-timer .timer .controls button i.hidden {
  display: none;
}
body .center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0px 0px 48px rgba(0, 0, 0, 0.8);
}
body .center::after {
  z-index: -1;
  content: "";
  filter: blur(84px);
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 20%;
  height: 20%;
}
body .date {
  text-transform: capitalize;
}
body .clock {
  font-size: 48pt;
}
body .phrase {
  cursor: pointer;
}
body .phrase.animate {
  animation-fill-mode: forwards;
  animation: swithPhrase 0.5s ease-in-out alternate;
}
body .information {
  box-shadow: -12px -6px 24px rgba(0, 0, 0, 0.8);
  gap: 24px;
  width: 100%;
  padding: 12px 24px;
  justify-content: end;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 94, 0, 0.4);
  position: fixed;
  display: flex;
  bottom: 0;
}
body .cripto-tracker {
  box-shadow: 12px 6px 24px rgba(0, 0, 0, 0.8);
  gap: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  background: rgba(255, 94, 0, 0.4);
  border-radius: 12px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.4);
  top: 0;
  right: 0;
  margin: 60px;
  position: fixed;
  z-index: 5;
}
body .cripto-tracker .img-wrapper {
  padding: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
body .cripto-tracker .img-wrapper .img {
  gap: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 48px !important;
  min-height: 48px !important;
  max-width: 48px !important;
  max-height: 48px !important;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
body .cripto-tracker .img-wrapper .img::after {
  z-index: -1;
  content: "";
  min-width: 48px !important;
  min-height: 48px !important;
  max-width: 48px !important;
  max-height: 48px !important;
  padding: 2px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}
body .cripto-tracker .info {
  padding: 12px 24px;
  padding-left: 12px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  gap: 3px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
body .cripto-tracker .info .title {
  font-size: 12pt;
}
body .cripto-tracker .info .price {
  font-size: 10pt;
}
body * {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: rgb(255, 237, 157);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
}
body *::-moz-placeholder {
  color: rgb(255, 237, 157);
}
body *::placeholder {
  color: rgb(255, 237, 157);
}
body html,
body body {
  width: 100%;
  height: 100%;
}
body .disabled {
  display: none !important;
}
body .mood-background {
  width: 100%;
  height: 100%;
  gap: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  background: linear-gradient(180deg, rgb(89, 0, 255), rgb(255, 220, 155) 60%);
  z-index: -1;
  position: fixed;
}
body .mood-background .landscape {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/landscape.png");
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 0px 12px rgb(255, 236, 66));
}

@media (max-height: 84pt) {
  body {
    padding: 0px 12px;
    font-size: 9pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  .center {
    font-size: 8pt;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .center .clock {
    font-size: 10pt;
  }
  .todo,
  .pomodoro-timer,
  .information {
    display: none;
  }
}
@media (max-width: 810px) {
  body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .cripto-tracker {
    transform: scale(0.9);
    top: 112px !important;
    right: unset !important;
    z-index: 1 !important;
  }
  .todo {
    z-index: 2;
    margin: 12px;
    top: 62px;
    position: absolute;
  }
  .center {
    position: absolute;
    inset: 0;
    font-size: 8pt;
  }
  .center .clock {
    font-size: 36pt;
  }
  .pomodoro-timer {
    margin: 12px;
    bottom: 62px;
    position: absolute;
    flex-direction: column-reverse;
  }
  .information {
    justify-content: space-between !important;
  }
}