.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .date {
    text-transform: capitalize;
  }
  .clock {
    font-size: 48pt;
  }
  .phrase {
    cursor: pointer;
    &.animate {
      animation-fill-mode: forwards;
      animation: swithPhrase 0.5s ease-in-out alternate;
    }
  }
  .information {
    gap: 24px;
    opacity: 0.5;
    padding: 12px 24px;
    width: 100%;
    justify-content: end;
    position: fixed;
    display: flex;
    bottom: 0;
  }
}
