.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // background: red;
  text-shadow: 0px 0px 48px rgba(0, 0, 0, 0.8);
  &::after {
    z-index: -1;
    content: "";
    filter: blur(84px);
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 20%;
    height: 20%;
  }
}
.date {
  text-transform: capitalize;
}
.clock {
  font-size: 48pt;
}
.phrase {
  cursor: pointer;
  &.animate {
    animation-fill-mode: forwards;
    animation: swithPhrase 0.5s ease-in-out alternate;
  }
}
