@media (max-height: 84pt) {
  body {
    padding: 12px;
    font-size: 9pt;
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 2fr 2fr;
  }
  .date {
    justify-self: flex-start;
  }
  .clock {
    font-size: 12pt;
  }
  .phrase {
    justify-self: flex-end;
  }
}
