@media (max-width: 810px) {
  body {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .todo {
    z-index: 2;
    margin: 12px;
    top: 62px;
    position: absolute;
    .todo-list {
    }
  }
  .center {
    position: absolute;
    inset: 0;
    font-size: 8pt;
    .clock {
      font-size: 36pt;
    }
  }
  .pomodoro-timer {
    margin: 12px;
    bottom: 62px;
    position: absolute;
    .timer {
    }
  }
  .information {
    display: none;
  }
}
