@import "reset";

* {
  color: white;
  font-family: "JetBrains Mono";
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.notes {
  gap: 6px;
  display: flex;

  flex-direction: column;
  .label {
    font-size: 14pt;
    padding: 0px 12px;
  }
  .notepad {
    border: 2px solid rgba(255, 255, 255, 0.25);
    overflow: scroll;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0px 0px 12px lightblue;

    height: 500px;
    padding: 12px;
    line-height: 20pt;
    .did {
      text-decoration: line-through;
    }
    .add {
      display: flex;
      width: 100%;
      position: sticky;
      bottom: 0;

      border-radius: 6px;
      border: 2px solid rgba(255, 255, 255, 0.25);
      background: rgba(0, 0, 0, 0.5);
      input {
        padding: 0px 6px;
        background: transparent;
        width: 100%;
      }
      button {
        cursor: pointer;
        font-size: 18pt;
        font-weight: 100;
        padding: 0px 6px;
        background: transparent;
      }
    }
  }
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date,
.clock,
.phrase {
  background: linear-gradient(135deg, white, lightblue);
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0px 0px 6px lightblue);
}
.date {
  text-transform: capitalize;
}
.clock {
  font-size: 48pt;
}
@keyframes swithPhrase {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.phrase {
  cursor: pointer;

  &.animate {
    animation-fill-mode: forwards;
    animation: swithPhrase 0.5s ease-in-out alternate;
  }
}
@import "compact";
