@import "reset";

* {
  color: white;
  font-family: "JetBrains Mono";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date,
.clock,
.phrase {
  background: linear-gradient(135deg, white, lightblue);
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0px 0px 6px lightblue);
}
.date {
  text-transform: capitalize;
}
.clock {
  font-size: 48pt;
}
@keyframes swithPhrase {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.phrase {
  cursor: pointer;

  &.animate {
    animation-fill-mode: forwards;
    animation: swithPhrase 0.5s ease-in-out alternate;
  }
}
@import "compact";
