@import "modules/reset";
@import "modules/mixins";
@import "modules/animations";
@import "modules/variables";

body {
  display: grid;
  overflow: hidden;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  background: linear-gradient(135deg, rgb(4, 113, 113), rgb(1, 36, 36));

  @import "todoComponent/todo";
  @import "pomodoroTimerComponent/pomodoroTimer";
  @import "centerComponent/center";
  @import "informationComponent/informationComponent";
  @import "criptoTrackerComponent/criptoTrackerComponent";
}

@import "compact";
@import "mobile";
